{% set pageClass= 'page--main' %}
{% extends "app/njk/layout/main.njk" %}
{% block content %}
<div class="bg-test">
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg1.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg2.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg3.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg4.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg5.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg6.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg7.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg8.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg9.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg10.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg11.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg12.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg13.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg14.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg15.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg16.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg17.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg18.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg19.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg20.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg21.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg22.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg23.svg" alt=""></div>
    <div class="svg-test-wrapper"><img src="./images/svg-icon/svg24.svg" alt=""></div>
</div>
{% endblock %}