{% extends "app/njk/layout/main.njk" %}
{% block content %}
<main class="container">
    <a href="./girl1.html">Girl 1</a>
    <a href="./girl2.html">Girl 2</a>
    <a href="./man1.html">Man 1</a>
    <a href="./man2.html">Man 2</a>
</main>
{% endblock %}