{% extends "app/njk/layout/main.njk" %}
{% block content %}
<style>
    .container {
        padding-top: 200px;
    }

    a {
        display: block;
        font-size: 20px;
        margin-bottom: 20px;
        color: #fff;
    }

    p {
        font-size: 40px;
        margin-bottom: 40px;
    }
</style>
<main class="container">
    <p>АККУМАКС</p>
    <a href="./girl1.html">Girl 1</a>
    <a href="./girl2.html">Girl 2</a>
    <a href="./man.html">Man</a>
</main>
{% endblock %}